
@{
    ViewBag.Title = "Wien";
}

@Html.Hidden("lang")
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<style>
    .animacija:hover {
        /*border: 1px solid white;*/  
        -moz-box-shadow: 0 0 10px blue; 
        -webkit-box-shadow: 0 0 10px blue;
         box-shadow: 0 0 10px blue;
    }
    .animacija {
        margin-bottom:20px;
    }
</style>
<div class="container" style="text-align:center;">
    <div class="row" style="padding-left:40px; padding-right:40px;">
        <div class="col-md-4">
            <a href="http://www.belvedere.at" target="_blank"><img width="200" height="110" class="animacija" src="~/Content/pic/Wien_schloss_belvedere_panorama.jpg" /></a>
        </div>
        <div class="col-md-4">
            <a href="http://www.viennaairport.com" target="_blank"><img class="animacija" src="~/Content/pic/VIE_Logo_220x70.png" /></a>
        </div>
        <div class="col-md-4">
            <a href="http://www.vienna.at" target="_blank"><img class="animacija" width="200" height="110" src="~/Content/pic/VIENNA-Logo.png" /></a>
        </div>
    </div>
    <br />
    <div class="row" style="padding-left:40px; padding-right:40px;">
        <div class="col-md-4">
            <a href="http://www.albertina.at" target="_blank"><img width="200" height="60" class="animacija" src="~/Content/pic/logo-red.png" /></a>
        </div>
        <div class="col-md-4">
            <a href="http://www.oebb.at" target="_blank"><img width="200" height="110" class="animacija" src="~/Content/pic/obb.jpg" /></a>
        </div>
        <div class="col-md-4">
            <a href="http://www.wienerlinien.at" target="_blank"><img class="animacija" width="200" height="110" src="~/Content/pic/wienerlin.jpg" /></a>
        </div>
    </div>
    <br />
    <div class="row" style="padding-left:40px; padding-right:40px;">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <a href="http://www.schoenbrunn.at" target="_blank"><img width="200" height="110" class="animacija" src="~/Content/pic/schonbrunn.jpg" /></a>
        </div>
        <div class="col-md-4">

        </div>
    </div>
</div>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<script src="~/Scripts/Application/Wien.js"></script>


