
@{
    ViewBag.Title = "Impressum";
}

@Html.Hidden("lang")
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<div>
    BOBTAXI INTERNACIONAL  OG <br />
    Steinbauergasse 31 <br />
    1120  Wien <br />
</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<script src="~/Scripts/Application/Impressum.js"></script>