    <p> Airport Taxi Bond - Terms and Conditions -  </p>
    <p> &nbsp; </p>
    <p>
        Airport Taxi Bond providing services under the following terms and conditions, the specifications and price lists. Different terms and conditions do not apply, even if the airport taxi Bond does not explicitly contradict them. Deviations from these conditions require the express written approval of airport taxi Bond. A contract is only when this is confirmed by airport taxi Bond. <br>
        scope of services
        </p>
    <p> The scope of services shall be governed solely by the written acknowledgment of airport taxi Bond or secondarily by the written offer of airport taxi Bond. In brochures, service catalogs, price lists and similar information information contained is only binding insofar as is expressly excluded from this reference. The transport is carried out under the provisions of the Highway Code and the PbefG. The passengers have to abide by the instructions of airport taxi Bond or the chauffeur. Guests action against the instructions, or do they represent a threat by the Highway Code, or road safety by impairment of the chauffeur, airport taxi Bond is entitled to refuse carriage. In this case, airport taxi Bond charged the full fare, including the fixed price or mileage price and all ancillary and special services. </p>
    <p> Pick up at the airport (airport transfer) </p>
    <p> Any change to the scheduled pick-up time, regardless of the reason is to tell Airport Taxi Bond immediately. Damage due to inconsistent immediate notification shall be borne by the customer. The driver of the airport taxi Bond is at the agreed pick up time at each meeting point of the airport terminal, or the previously approved in writing a meeting place, with a name tag or company logo ready (earlier or later deployment must be specified at time of booking), waiting up to 60 minutes at no additional cost. A telephone number where the passenger can reach his chauffeur is given in the confirmation letter. If after the 60 minute wait no contact with the passenger or the customer have occurred if the driver takes the return journey to Vienna without passenger. The performance of airport taxi Bond shall be deemed rendered and the full fare is due for payment. Other desired by the customer waiting times can be calculated according to the valid price list. </p>
    <p> Price </p>
    <p> The prices include VAT at the statutory rate. The valid on the day of booking confirmation rates apply. The price list are not listed package prices may be agreed in writing and only apply to the agreed date of travel and the rental period. Any additional times and distances are based on the current price list. Additional costs for delays shall be borne by the customer, unless the delay due to the fault of airport taxi Bond or the chauffeur. The fare includes the transport of persons with normal luggage; the entrainment of bulky goods requires a separate agreement. </p>
    <p> Payment Provisions </p>
    <p> Airport Taxi Bond reserves the right to charge a deposit before starting a journey of up to 50% of the total price or to request a certificate issued on airport taxi Bond blank busy loading a valid credit card before accepting an order. Balance payments are due within the time limits for payment on the invoice. For the Rechtszeitigkeit the payment, it depends on the receipt of the amount of unreserved provided by airport taxi Bond. When paying by check, the requirement applies only after final full credit as paid. Payments are always used to settle the oldest claim. If the customer is in arrears, calculated Airport Taxi Bond - Without prejudice against further damages - interest at the rate of 5 percentage points above the base rate. Mahngebühr calculated - for the second and any further notice will be € 10. The customer has the right to prove a lower damage. </p>
    <p> Cancellations and Returns </p>
    <p> Cancellations will be effective only if made in writing or confirmed in writing at oral declaration of airport taxi Bond. For the Rechtszeitigkeit written cancellations, it depends on the access for airport taxi Bond. If canceled up to 24 hours before the contractually agreed start of the journey will be charged. Cancellations Airport Taxi Bond calculated a share of the drive base price as compensation. This proportion is: </p>
    <p>
        * 50% in case of cancellation to 12 hours <br>
        * 80% for cancellations up to 3 hours before the start of the agreed service fulfillment <br>
        * 100% for late cancellations or no-show the journey.
        </p>
    <p> expenses calculated Airport Taxi Bond regardless of the timeliness of cancellations, if this has already been incurred. The Customer is expressly permitted to prove that arose no or little damage airport taxi Bond. Airport Taxi Bond reserves the right to fully or partially withdraw from the contract if the customer suspends payment or becomes insolvent or likely due to external circumstances of this is that the services are being abused or buyer is incumbent upon by these terms and conditions breached the duty . </p>
    <p> Duties and Liability of the Customer </p>
    <p> The customer tells Airport Taxi Bond immediately of any change of name, (invoice) address, legal form and his bank. Likewise, the customer is obliged to provide the necessary information to passengers, time and place of service. The customer fails immediate notification, it shall be liable for damages that could have been avoided with timely notification. The customer agrees, on behalf of the passengers, not to misuse the power of Airport Taxi Bond, in particular </p>
    <p>
        * Not to interfere with the performance of the service <br> hinder oderzu
        * No damage <br> cause
        * Not to violate criminal law <br>
        * <br> Comply with the ban on smoking in vehicles strictly
        * Not to deny the transfer of the fare.
        </p>
    <p> If you think a customer against the aforementioned duties, Airport Taxi Bond shall be entitled to take all necessary measures to eliminate the abuse. In case of culpable violation of the customer is liable to Airport Taxi Bond for damages. </p>
    <p> Adhesion of airport taxi Bond </p>
    <p> Airport Taxi Bond liable to the customer for damages - for whatever legal reason - only in cases of intent or gross negligence or culpable breach of contract by airport taxi Bond, his legal representatives or agents. Liability for injury of life, body or health is governed by the statutory provisions. The liability of airport taxi Bond is limited to € 1,000.00 per passenger for damage to property. For vehicles, there is a liability injury after the applicable General Conditions. For any additional insurance the customer himself is responsible. Airport Taxi Bond shall not be liable for appointment failures and their economic consequences if these are not the fault of the airport taxi Bond. This includes, for example, Delays / delays caused by: </p>
    <p>
        * Traffic jams, road closures <br>
        * Vehicle breakdowns or accidents <br>
        * Bad weather
        </p>
    <p> For damages due to faulty transmissions of data by the customer airport taxi Bond will be liable to the customer or passenger liability. </p>
    <p> Governing Law and Jurisdiction </p>
    <p> only applies Austrian law applies to all legal relationships between airport taxi Bond and his client. Jurisdiction and performance is Vienna. </p>
    <p>
        Severability <br>
        Should one or more of the above conditions be invalid, the remaining provisions of the ineffectiveness remain unaffected. Instead of ineffective clauses are superseded by statutory provisions.
        </p>

