    <p>Flughafentaxi Bond – AGB –</p>
    <p>&nbsp;</p>
    <p>
        Flughafentaxi Bond erbringt Dienstleistungen aufgrund der nachfolgenden AGB, der Leistungsbeschreibungen und der Preislisten. Abweichende Geschäftsbedingungen gelten nicht, auch wenn Flughafentaxi Bond ihnen nicht ausdrücklich widerspricht. Abweichungen von diesen Bedingungen bedürfen der ausdrücklichen schriftlichen Anerkennung von Flughafentaxi Bond. Ein Vertrag kommt nur zustande, wenn dieser von Flughafentaxi Bond bestätigt wird.<br>
        Leistungsumfang
    </p>
    <p>Der Leistungsumfang bestimmt sich ausschließlich nach der schriftlichen Auftragsbestätigung von Flughafentaxi Bond oder subsidiär nach den schriftlichen Angebot von Flughafentaxi Bond. In Prospekten, Leistungskatalogen, Preislisten und ähnlichen Informationen enthaltenen Angaben sind nur insoweit verbindlich, als ausdrücklich aus diese Bezug genommen wird. Die Beförderung erfolgt nach den Vorschriften der StVO und dem PbefG. Die Fahrgäste haben sich an Weisungen von Flughafentaxi Bond oder des Chauffeurs zu halten. Handeln Gäste gegen die Weisungen, oder stellen sie eine Gefährdung nach der StVO, oder der Sicherheit des Straßenverkehrs durch Beeinträchtigungen des Chauffeurs dar, ist Flughafentaxi Bond berechtigt, sie von der Beförderung auszuschließen. In diesem Fall berechnet Flughafentaxi Bond den vollen Fahrpreis einschließlich des Fixpreis oder Kilometerpreises und aller Neben- und Sonderleistungen.</p>
    <p>Abholung am Flughafen (Flughafentransfer)</p>
    <p>Jede Änderung der vereinbarten Abholzeit, gleich aus welchem Grund, ist Flughafentaxi Bond unverzüglich mitzuteilen. Schäden durch eine nicht unverzügliche Mitteilung gehen zu Lasten des Kunden. Der Chauffeur von Flughafentaxi Bond steht zu der vereinbarten Abholzeit am jeweiligen Meetingpoint des Flughafenterminals, oder dem zuvor schriftlich vereinbarten Treffpunkt, mit Namensschild oder Firmenlogo bereit (frühere oder spätere Bereitstellung ist bei der Buchung anzugeben) und wartet bis zu 60 Minuten ohne gesonderte Berechnung. Eine Telefonnummer, unter welcher der Fahrgast seinen Chauffeur erreichen kann, ist in dem Bestätigungsschreiben angegeben. Sollte nach Ablauf der 60 minütigen Wartezeit kein Kontakt zum Fahrgast oder zum Kunden zustande gekommen sein, tritt der Chauffeur die Rückfahrt nach Wien ohne Fahrgast an. Die Leistung von Flughafentaxi Bond gilt dann als erbracht und der volle Fahrpreis wird zur Zahlung fällig. Weitere vom Kunden gewünschte Wartezeiten werden nach der gültigen Preisliste berechnet.</p>
    <p>Preise</p>
    <p>Die Preise enthalten die gesetzliche Umsatzsteuer in der jeweiligen gesetzlichen Höhe. Es gelten die am Tag der Buchungsbestätigung gültigen Preise. In der Preisliste nicht aufgeführte Pauschalpreise können nur schriftlich vereinbart und gelten nur für das vereinbarte Fahrtdatum und Mietzeit. Darüber hinausgehende Zeiten und Entfernungen werden nach der gültigen Preisliste berechnet. Mehrkosten durch Verzögerungen gehen zu Lasten des Kunden, es sei denn, die Verzögerungen beruhen auf einem Verschulden von Flughafentaxi Bond oder des Chauffeurs. Der Fahrpreis beinhaltet die Personenbeförderung mit normalen Gepäck; die Mitnahme sperriger Güter bedarf einer gesonderten Vereinbarung.</p>
    <p>Zahlungsbestimmungen</p>
    <p>Flughafentaxi Bond behält es sich vor, vor Antritt der Fahrt eine Anzahlung von bis zu 50 % des Gesamtpreises zu erheben oder vor Annahme eines Auftrages einen auf Flughafentaxi Bond ausgestellten Blanko-Belastungsbelegt einer gültigen Kreditkarte zu verlangen. Restzahlungen sind innerhalb der auf der Rechnung angegebenen Fristen zur Zahlung fällig. Für die Rechtszeitigkeit der Zahlung kommt es auf den Eingang des Betrages zur vorbehaltlosen Verfügung von Flughafentaxi Bond an. Bei Zahlung per Scheck gilt die Forderung erst nach endgültiger vollständiger Gutschrift als bezahlt. Zahlungen werden stets zur Begleichung der ältesten Forderung verwendet. Befindet sich der Kunde in Zahlungsverzug, berechnet Flughafentaxi Bond – vorbehaltlich der Geltendmachung weiteren Verzugschadens – Zinsen in Höhe von 5 Prozentpunkten über den Basiszinssatz. Für die zweite und jede weitere Mahnung werden € 10,– Mahngebühr berechnet. Dem Kunden bleibt es vorbehalten, einen geringeren Schaden nachzuweisen.</p>
    <p>Stornierungen und Rücktritt</p>
    <p>Stornierungen werden nur wirksam, wenn sie schriftlich erfolgen oder bei mündlicher Erklärung von Flughafentaxi Bond schriftlich bestätigt werden. Für die Rechtszeitigkeit schriftlicher Stornierungen kommt es auf den Zugang bei Flughafentaxi Bond an. Stornierungen bis einschließlich 24 Stunden vor dem vertraglich bestimmten Antritt der Fahrt sind kostenfrei. Bei Stornierungen berechnet Flughafentaxi Bond einen Anteil am Fahrtgrundpreis als Schadensersatz. Dieser Anteil beträgt:</p>
    <p>
        * 50 % bei Stornierungen bis 12 Stunden<br>
        * 80 % bei Stornierungen bis 3 Stunden vor dem vertraglich vereinbarten Beginn der Leistungserfüllung<br>
        * 100 % bei späteren Stornierungen und bei Nichtantritt der Fahrt.
    </p>
    <p>Aufwendungen berechnet Flughafentaxi Bond unabhängig von der Rechtzeitigkeit der Stornierungen, wenn diese bereits angefallen sind. Dem Kunden bleibt ausdrücklich der Nachweis gestattet, das Flughafentaxi Bond gar kein oder ein niedrigerer Schaden entstanden ist. Flughafentaxi Bond behält sich vor, vom Vertrag ganz oder teilweise zurückzutreten, wenn der Kunde seine Zahlung einstellt, in Insolvenz gerät oder aufgrund äußerer Umstände davon auszugehen ist, dass die Dienstleistungen missbräuchlich in Anspruch genommen werden, oder der Kunde ihm nach diesen Vertragsbestimmungen obliegende Pflicht verletzt.</p>
    <p>Pflichten und Haftung des Kunden</p>
    <p>Der Kunde teilt Flughafentaxi Bond unverzüglich jede Änderung seines Namens, seiner (Rechnungs-) Anschrift, seiner Rechtsform und seiner Bankverbindung mit. Ebenso ist der Kunde dazu verpflichtet, die erforderlichen Angaben zu Fahrgästen, Zeit und Ort der Leistungserbringung zu machen. Unterlässt der Kunde eine unverzügliche Mitteilung, haftet er für Schäden, die bei rechtzeitiger Mitteilung vermieden worden wären. Der Kunde verpflichtet sich, auch im Namen der Fahrgäste, die Leistung von Flughafentaxi Bond nicht missbräuchlich zu nutzen, insbesondere</p>
    <p>
        * die Erfüllung der Dienstleistung nicht zu stören oderzu behindern<br>
        * keine Schäden hervorzurufen<br>
        * nicht gegen strafrechtliche Vorschriften zu verstoßen<br>
        * das Rauchverbot im Fahrzeug strikt einzuhalten<br>
        * die Übernahme des Fahrpreises nicht zu verweigern.
    </p>
    <p>Verstößt ein Kunde gegen die vorbezeichneten Pflichten, ist Flughafentaxi Bond berechtigt, alle erforderlichen Maßnahmen zur Beseitigung des Missbrauchs zu ergreifen. Bei schuldhafter Verletzung haftet der Kunde gegenüber Flughafentaxi Bond auf Schadensersatz.</p>
    <p>Haftung von Flughafentaxi Bond</p>
    <p>Flughafentaxi Bond haftet dem Kunden auf Schadensersatz – gleich aus welchem Rechtsgrund – nur bei Vorsatz oder grober Fahrlässigkeit sowie schuldhafter Verletzung wesentlicher Vertragspflichten von Flughafentaxi Bond, dessen gesetzlichen Vertretern oder Erfüllungsgehilfen. Die Haftung bei Verletzung von Leben, Körper oder Gesundheit richtet sich nach den gesetzlichen Vorschriften. Bei Sachschäden wird die Haftung von Flughafentaxi Bond auf € 1.000,00 pro Fahrgast begrenzt. Für die Fahrzeuge besteht eine Haftpflichtverletzung nach den jeweils geltenden Allgemeinen Versicherungsbedingungen. Für eventuelle Zusatzversicherungen hat der Kunde selbst Sorge zu tragen. Flughafentaxi Bond haftet nicht für Terminversäumnisse und deren wirtschaftlichen Folgen, soweit diese nicht von Flughafentaxi Bond verschuldet wurden. Dazu zählt z.B. Verspätungen / Verzögerungen verursacht durch:</p>
    <p>
        * Verkehrsstaus, Straßensperrungen<br>
        * Fahrzeugpannen oder Verkehrsunfälle<br>
        * schlechte Witterung
    </p>
    <p>Für Schäden infolge fehlerhafter Übermittlungen von Daten durch den Kunden übernimmt Flughafentaxi Bond gegenüber dem Kunden oder Fahrgast keine Haftung.</p>
    <p>Anwendbares Recht und Gerichtstand</p>
    <p>Für alle Rechtsbeziehungen zwischen Flughafentaxi Bond und seinem Kunden gilt ausschließlich Österreicher Recht. Gerichtsstand und Erfüllungsort ist Wien.</p>
    <p>
        Teilunwirksamkeit<br>
        Sollte eine oder mehrere der vorstehenden Bedingungen unwirksam sein, bleiben die übrigen Bedingungen von der Unwirksamkeit unberührt. Anstelle unwirksamer Klauseln treten die gesetzlichen Vorschriften.
    </p>
