
@{
    ViewBag.Title = "Booking";
}
@Html.Hidden("InputZipCode2")



<style>
    .jumbotron{
        /*font-size:inherit;*/
    }
    .jumbotron #scrolingBooking {
        overflow-y: scroll; height:600px;
    }
    #container1 {
    background-color: #e2dada;
}
    .form-control {
        width:inherit;
    }
/*.centered-form {
    margin-top: 120px;
    margin-bottom: 120px;
}*/

.centered-form .panel {
    background: rgba(255, 255, 255, 0.8);
    box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

.panel-body {
padding: 20px;
}

.input-sm{
    height:25px;
}

    select.input-sm {
        height:28px;
    }
    h3{
        color:#7695E7;
    }

    .ui-datepicker{
        z-index:9999;
    }
    
</style>



@*<h2>Booking</h2>*@

<div id="scrolingBooking" class="container">
    <div class="container" id="container1">
        <div class="row">
            @*<div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">*@
                <div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">Booking To Airport</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" id="frm_Reservacija">
                            <div class="form-group">
                                <label>Pick-up date</label>
                                <input type="text" class="form-control input-sm datum" name="InputDate" id="InputDate" placeholder="Enter Date" required>
                            </div>
                            <label>Pick up time</label>
                            <div class="row">

                                <div class="col-md-3">
                                    <div class="input-group">
                                        <select class="form-control input-sm" id="pickupHRS" name="pickupHRS">
                                            <option value="" selected="selected">Hrs</option>
                                            <option value="00">00</option>
                                            <option value="01">01</option>
                                            <option value="02">02</option>
                                            <option value="03">03</option>
                                            <option value="04">04</option>
                                            <option value="05">05</option>
                                            <option value="06">06</option>
                                            <option value="07">07</option>
                                            <option value="08">08</option>
                                            <option value="09">09</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                            <option value="13">13</option>
                                            <option value="14">14</option>
                                            <option value="15">15</option>
                                            <option value="16">16</option>
                                            <option value="17">17</option>
                                            <option value="18">18</option>
                                            <option value="19">19</option>
                                            <option value="20">20</option>
                                            <option value="21">21</option>
                                            <option value="22">22</option>
                                            <option value="23">23</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <select class="form-control input-sm" id="pickupMIN" name="pickupMIN">
                                            <option value="" selected="selected">Min</option>
                                            <option value="00">00</option>
                                            <option value="05">05</option>
                                            <option value="10">10</option>
                                            <option value="15">15</option>
                                            <option value="20">20</option>
                                            <option value="25">25</option>
                                            <option value="30">30</option>
                                            <option value="35">35</option>
                                            <option value="40">40</option>
                                            <option value="45">45</option>
                                            <option value="50">50</option>
                                            <option value="55">55</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <label>House</label>
                                    <input type="text" id="house" name="house" class="form-control input-sm" />
                                </div>
                                <div class="col-md-3">
                                    <label>Flor</label>
                                    <input type="text" id="flor" name="flor" class="form-control input-sm" />
                                </div>
                                <div class="col-md-3">
                                    <label>Door</label>
                                    <input type="text" id="door" name="door" class="form-control input-sm" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <label>Pick up from:</label>
                                    <select class="form-control input-sm" id="InputPickupFrom" name="InputPickupFrom">
                                        <option value="5" selected="selected">from home</option>
                                        <option value="6">from office</option>
                                        <option value="7">from train station</option>
                                        <option value="9">from hotel</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Your full name:</label>
                                <input type="text" name="InputFullName" id="InputFullName" class="form-control input-sm" placeholder="Enter Name">
                            </div>
                            <div class="form-group">
                                <label>Location:</label>
                                @*<select class="input-group input-sm" id="InputLocation" name="InputLocation" style="width:150px">
                                    <option>City</option>
                                    <option value="1">Vienna</option>
                                </select>*@
                                @Html.DropDownList("InputLocation", (List<SelectListItem>)ViewBag.listaGradovi, new { @style = "width:150px", @class = "input-group input-sm" })
                            </div>


                            <div class="form-group">
                                <label>Zip code:</label>
                                @*<select class="input-group input-sm" id="InputZipCode" name="InputZipCode" style="width:150px">
                                    <option>Pick your area</option>
                                </select>*@

                                @Html.DropDownList("InputZipCode", (List<SelectListItem>)ViewBag.listaOblastiWien, new { @style = "width:150px", @class = "input-group input-sm" })
                            </div>


                            <div class="form-group">
                                <div class="input-group">
                                    <label>Street:</label>
                                    <select class="input-group input-sm" id="street" name="street" style="width:150px">
                                        <option></option>
                                    </select>
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="input-group">
                                    <label>Your phone number:</label>
                                    <input type="tel" class="form-control input-sm" id="InputTelFirst" name="InputTelFirst" placeholder="Enter Phone" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <label>Your email:</label>
                                    <input type="email" class="form-control input-sm" id="InputEmail" name="InputEmail" placeholder="Enter Email" required>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-5 col-sm-5 col-md-5">
                                    <div class="form-group">
                                        <label>Type of car:</label>
                                        <select id="car_type" name="car_type" class="input-group input-sm" label="Typ Auto:" placeholder="Enter type of Car" onchange="recalculate_price();">
                                            <option value="3">Grobram taxi (5 bis 8 personen)</option>
                                            <option value="2">Business klase (bis 4 personen)</option>
                                            <option value="1">Economy klase (bis 4 personen)</option>
                                        </select>

                                    </div>
                                </div>
                                <div class="col-xs-3 col-sm-3 col-md-3">
                                    <div class="form-group">
                                        <label>Suitcases:</label>
                                        <select id="suitcases" name="suitcases" class="input-group input-sm" label="Anzahl der Koffer:" placeholder="Enter Suitcases" onchange="recalculate_price();">
                                            <option value="0">No suitcases</option>
                                            <option value="1" selected="selected">1 Suitcase</option>
                                            <option value="2">2 Suitcase</option>
                                            <option value="3">3 Suitcase</option>
                                            <option value="4">4 Suitcase</option>
                                            <option value="5">5 Suitcase</option>
                                            <option value="6">6 Suitcase</option>
                                            <option value="7">7 Suitcase</option>
                                            <option value="8">8 Suitcase</option>
                                            <option value="999">More from 8 on request</option>
                                        </select>

                                    </div>
                                </div>
                                <div class="col-xs-3 col-sm-3 col-md-3">
                                    <div class="form-group">
                                        <label>Hand luggage:</label>
                                        <select id="hand_package" name="hand_package" class="input-group input-sm" label="Handgepäck:" placeholder="Hand laggage" onchange="recalculate_price();">
                                            <option value="0">No hand luggage</option>
                                            <option value="1" selected="selected">1 Piece</option>
                                            <option value="2">2 Piece</option>
                                            <option value="3">3 Piece</option>
                                            <option value="4">4 Piece</option>
                                            <option value="5">5 Piece</option>
                                            <option value="6">6 Piece</option>
                                            <option value="7">7 Piece</option>
                                            <option value="8">8 Piece</option>
                                            <option value="999">More from 8 on request</option>
                                        </select>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label class="control-label" for="form-group-input">Payment</label>
                                    <select id="payment" name="payment" class="input-group input-sm" label="Bezahlung:">
                                        <option value="cash">Cash</option>
                                        <option value="card">Credit Card</option>
                                        <option value="bank">Bank Transfer</option>
                                    </select>

                                </div>
                                <!-- <div class="col-md-8"><img src="~/Content/banner/svgFileSM.svg" /></div>-->
                            </div>
                            <div class="form-group">
                                <label>Comment</label>
                                <textarea id="comment" name="comment" rows="2" cols="25" class="input-group-sm"></textarea>

                            </div>
                            <div class="form-group input-group-sm">
                                <label>Price:</label>
                                <label id="lblPrice">0e</label>
                            </div>
                            <div class="form-group input-group-sm">
                                <label for="return">Return trip</label>
                                <input type="checkbox" id="return" name="return" />
                            </div>
                            <div class="form-group input-group-sm" id="divTrip" style="display:none">
                                <label>Return date</label>
                                <input type="text" class="form-control input-sm datumReturn" name="ReturnDate" id="ReturnDate" placeholder="Enter Date" required>
                                <label>Return time</label>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="input-group">
                                            <select class="form-control input-sm" id="pickupHRSReturn" name="pickupHRSReturn">
                                                <option value="" selected="selected">Hrs</option>
                                                <option value="00">00</option>
                                                <option value="01">01</option>
                                                <option value="02">02</option>
                                                <option value="03">03</option>
                                                <option value="04">04</option>
                                                <option value="05">05</option>
                                                <option value="06">06</option>
                                                <option value="07">07</option>
                                                <option value="08">08</option>
                                                <option value="09">09</option>
                                                <option value="10">10</option>
                                                <option value="11">11</option>
                                                <option value="12">12</option>
                                                <option value="13">13</option>
                                                <option value="14">14</option>
                                                <option value="15">15</option>
                                                <option value="16">16</option>
                                                <option value="17">17</option>
                                                <option value="18">18</option>
                                                <option value="19">19</option>
                                                <option value="20">20</option>
                                                <option value="21">21</option>
                                                <option value="22">22</option>
                                                <option value="23">23</option>
                                            </select>                                            
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="input-group">
                                            <select class="form-control input-sm" id="pickupMINReturn" name="pickupMINReturn">
                                                <option value="" selected="selected">Min</option>
                                                <option value="00">00</option>
                                                <option value="05">05</option>
                                                <option value="10">10</option>
                                                <option value="15">15</option>
                                                <option value="20">20</option>
                                                <option value="25">25</option>
                                                <option value="30">30</option>
                                                <option value="35">35</option>
                                                <option value="40">40</option>
                                                <option value="45">45</option>
                                                <option value="50">50</option>
                                                <option value="55">55</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @Html.ActionLink("See Prices", "getPrice", "Price", null, new { target = "_blank" })
                            <div id="mess_divCard" style="display:none;">
                                <label style="color:red; font-size:small;">Bei jede Bezahlung mit Kreditkarte wird + 5 € Kreditkartengebür</label>
                            </div>
                            <input type="button" id="submit" value="Reserve" class="btn btn-info btn-block">
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<script src="~/Scripts/Application/Booking.js"></script>
