
@{
    ViewBag.Title = "Booking";
}

<style>
    .jumbotron #scrolingBooking {
        overflow-y: scroll; height:600px;
    }
     .glyphicon-refresh-animate {
        -animation: spin .7s infinite linear;
        -webkit-animation: spin2 .7s infinite linear;
    }

    @@-webkit-keyframes spin2 {
        from {
            -webkit-transform: rotate(0deg);
        }

        to {
            -webkit-transform: rotate(360deg);
        }
    }

    @@keyframes spin {
        from {
            transform: scale(1) rotate(0deg);
        }

        to {
            transform: scale(1) rotate(360deg);
        }
    }
</style>



<h2>Booking</h2>

<div id="scrolingBooking" class="container">
    <div class="row">
        <form role="form">
            <div class="col-lg-6">
                
                <div class="form-group">
                    <label for="InputName">Pick Up-date</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="InputDate" id="InputDate" placeholder="Pick Up-date" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="InputEmail">Pick-up Time</label>
                    <div class="input-group">
                        <input type="email" class="form-control" id="InputTime" name="InputTime" placeholder="Pick-up Time" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="InputPickupFrom">pick-up from</label>
                    <div class="input-group">
                        <select class="form-control" id="InputPickupFrom" name="InputPickupFrom">
                            <option value="5" selected="selected">from home</option>
                            <option value="6">from office</option>
                            <option value="7">from train station</option>
                            <option value="9">from hotel</option>
                        </select>
                        
                    </div>
                </div>
                <div class="form-group">
                    <label for="InputFullName">Your full name</label>
                    <div class="input-group">
                        <input name="InputFullName" id="InputFullName" class="form-control" rows="5" required placeholder="Please enter your name" />
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="InputLocation">Location</label>
                    <div class="input-group">
                        <select class="form-control" id="InputLocation" name="InputLocation">
                            <option value="4" selected="selected">Smederevo</option>
                            <option value="5">Vienn</option>
                            <option value="6">from office</option>
                            <option value="7">from train station</option>
                            <option value="9">from hotel</option>
                        </select>

                    </div>
                </div>
                <div class="form-group">
                    <label for="InputZipCode">Zip code</label>
                    <div class="input-group">
                        <select class="form-control" id="InputZipCode" name="InputZipCode">
                            <option value="5" selected="selected"></option>
                            <option value="6">from office</option>
                            <option value="7">from train station</option>
                            <option value="9">from hotel</option>
                        </select>

                    </div>
                </div>
                <div class="form-group">
                    <label for="Street">Street</label>
                    <div class="input-group">
                        <select class="form-control" id="street" name="street">
                            <option value="5" selected="selected">Vucacka</option>
                            <option value="6">from office</option>
                            <option value="7">from train station</option>
                            <option value="9">from hotel</option>
                        </select>

                    </div>
                </div>
                <div class="form-group">
                    <label for="InputTelFirst">Phone</label>
                    <div class="input-group">
                        <input type="tel" class="form-control" id="InputTelFirst" name="InputTelFirst" placeholder="Enter Phone" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="InputEmail">Your Email</label>
                    <div class="input-group">
                        <input type="email" class="form-control" id="InputEmail" name="InputEmail" placeholder="Enter Email" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="form-group-input">Type of car</label>
                    <select id="car_type" name="car_type" class="dropdown" label="Typ Auto:" onchange="recalculate_price();">
                        <option value="1">Limousine maximum. 3 Passengers</option>
                        <option value="2">Station wagon 3-4 Passengers</option>
                        <option value="3">Van 4-7 Passengers</option>
                        <option value="999">More from 8 on request</option>
                    </select>

                </div>
                <div class="form-group">
                    <label class="control-label" for="form-group-input">Suitcases</label>
                    <select id="suitcases" name="suitcases" class="dropdown" label="Anzahl der Koffer:" onchange="recalculate_price();">
                        <option value="0">No suitcases</option>
                        <option value="1" selected="selected">1 Suitcase</option>
                        <option value="2">2 Suitcase</option>
                        <option value="3">3 Suitcase</option>
                        <option value="4">4 Suitcase</option>
                        <option value="5">5 Suitcase</option>
                        <option value="6">6 Suitcase</option>
                        <option value="7">7 Suitcase</option>
                        <option value="8">8 Suitcase</option>
                        <option value="999">More from 8 on request</option>
                    </select>

                </div>
                <div class="form-group">
                    <label class="control-label" for="form-group-input">Hand laggage</label>
                    <select id="hand_package" name="hand_package" class="dropdown" label="Handgepäck:" onchange="recalculate_price();">
                        <option value="0">No hand luggage</option>
                        <option value="1" selected="selected">1 Piece</option>
                        <option value="2">2 Piece</option>
                        <option value="3">3 Piece</option>
                        <option value="4">4 Piece</option>
                        <option value="5">5 Piece</option>
                        <option value="6">6 Piece</option>
                        <option value="7">7 Piece</option>
                        <option value="8">8 Piece</option>
                        <option value="999">More from 8 on request</option>
                    </select>

                </div>
                <div class="form-group">
                    <label class="control-label" for="form-group-input">Payment</label>
                    <select id="payment" name="payment" class="dropdown" label="Bezahlung:" onchange="recalculate_price();">
                        <option value="Bar">Cash</option>
                        <option value="Kreditkarte">Credit Card</option>
                        <!--	<option value="Wertkarte">Value Card</option> -->
                        <option value="Lieferschein">Bank Transfer</option>
                    </select>

                </div>
                <button type="button" name="submit" id="submit" value="Submit" class="btn btn-info pull-right">
                    Order&nbsp;<span class="glyphicon glyphicon glyphicon-refresh pull-right invisible" id="anim"></span>
                </button>
                
            </div>
        </form>
        
    </div>
</div>


@*table>tbody>tr*13>td*2*@
@*<table border="1">
    <tbody>
        <tr>
            <td>Pick Up-Date</td>
            <td>_pickupDate</td>
        </tr>
        <tr>
            <td>Pick Up-From</td>
            <td>_from</td>
        </tr>
        <tr>
            <td>Full Name</td>
            <td>_name</td>
        </tr>
        <tr>
            <td>Location</td>
            <td>_location</td>
        </tr>
        <tr>
            <td>Zip Code</td>
            <td>_zip</td>
        </tr>
        <tr>
            <td>Street</td>
            <td>_strt</td>
        </tr>
        <tr>
            <td>Phone</td>
            <td>_phone</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>_email</td>
        </tr>
        <tr>
            <td>Type of Car</td>
            <td>_car</td>
        </tr>
        <tr>
            <td>Suitcases</td>
            <td>_scs</td>
        </tr>
        <tr>
            <td>Handlaggage</td>
            <td>_hand</td>
        </tr>
        <tr>
            <td>Payment</td>
            <td>_pmt</td>
        </tr>
        <tr>
            <td>See location</td>
            <td><a href="">See Location</a></td>
        </tr>
        <tr>
            <td>Confirm</td>
            <td><a href="">Confirm</a></td>
        </tr>
    </tbody>
</table>*@








<script src="~/Scripts/Application/Booking.js"></script>