@{
    ViewBag.Title = "Über uns";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@
@Html.Hidden("lang")

<title>Über uns</title>
<style>
    /*body {
        margin-top: 50px;
    }*/
    .jumbotron #skrolingUboutUs {
        overflow-y: scroll; height:600px;
    }
    #container1 {
        padding: 10px;
    background-color: #eee;
    }

    .heading {
        margin-top: 50px;
        margin-bottom: 50px;
        border-radius: 6px;
        padding-right: 60px;
        padding-left: 60px;
        background-color: #eee;
        padding-top: 48px;
        padding-bottom: 48px;
    }

    .summary-divider {
        margin: 80px 0;
    }

    .summary {
        overflow: hidden;
    }

    .summary-image.pull-left {
        margin-right: 40px;
    }

    .summary-image.pull-right {
        margin-left: 40px;
    }

    .summary-heading {
        font-size: 50px;
    }

    footer {
        margin: 50px 0;
    }
</style>


<div id="skrolingUboutUs" class="container">
    <div id="container1" class="container">
        <div class="summary">
            <img class="summary-image img-suqare img-responsive pull-right" alt="Bootstrap template" src="~/Content/pic/taxiAboutUs.jpg">
            <h2 id="aboutnaslov1" class="summary-heading">
                 <span class="text-muted" id="aboutnaslov2"></span>
            </h2>
            <p id="aboutsadrzaj1" class="lead">
            </p>
        </div>
        @*<hr class="summary-divider" />*@
        <div class="summary">
            <img class="summary-image img-suqare img-responsive pull-left" alt="Bootstrap template" src="~/Content/pic/taxiBestBusnisess.png">
            <h2 id="aboutnaslov3" class="summary-heading">
                <span class="text-muted"></span>
            </h2>
            <p id="aboutsadrzaj2" class="lead">                
            </p>
        </div>
        @*<hr class="summary-divider" />*@
        <div class="summary">
            <img class="summary-image img-suqare img-responsive pull-right" alt="Bootstrap template" src="~/Content/pic/taxiService.png">
            <h2 id="aboutnaslov4" class="summary-heading">
                 <span class="text-muted"></span>
            </h2>
            <p id="aboutsadrzaj3" class="lead">                
            </p>
        </div>
    </div>
    
</div>
<hr />
<footer>

</footer>
<script src="~/Scripts/Application/About.js"></script>